image: condaforge/mambaforge:latest

variables:
  BASE_URL: "https://m2-npac-ac.pages.in2p3.fr/"  # "/m2-npac-ac"

cache:
  paths:
    - .cache/pip

stages:
  - build

pages:
  stage: build
  script:
    - python -V               # Print out python version for debugging
    - mamba install -y -c conda-forge nodejs
    - node -v
    - npm install -g mystmd
    - myst build --html
    - mv _build/html/ public/
  artifacts:
    paths:
      - public
  only:
    - main

docker:
  image: docker:19.03.12
  stage: build
  services:
    - docker:19.03.12-dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  script:
    - ls -la .
    # - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_TAG . --file Dockerfile-CI
    - docker push $IMAGE_TAG
  #rules:
  #  - changes:
  #      - docker/*


