image: condaforge/mambaforge:latest

variables:
  BASE_URL: "/m2-npac-cosmology"

cache:
  paths:
    - .cache/pip

stages:
  - build

before_script:
    - python -V               # Print out python version for debugging

pages:
  stage: build
  script:
    - mamba install -y -c conda-forge nodejs
    - node -v
    - npm install -g mystmd
    - myst build --html
    - mv _build/html/ public/
  artifacts:
    paths:
      - public
  only:
    - main

docker:
  image: docker:19.03.12
  stage: build
  services:
    - docker:19.03.12-dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd docker
    - ls -la .
    - docker build -t $IMAGE_TAG . --file Dockerfile-CI
    - docker push $IMAGE_TAG
    - cd ../
  rules:
    - changes:
        - docker/*


